/pretrained/bytetrack_ablation.pth.tar
/pretrained/bytetrack_x_mot17.pth.tar
/pretrained/bytetrack_x_mot20.tar
/pretrained/mot17_sbs_S50.pth
/pretrained/mot20_sbs_S50.pth
/pretrained/yolox_x.pth
/YOLOX_outputs/
/.idea/
*.pyc